
/* main body */
header {
  position:fixed;
  width:100%;
  z-index:2;
  display: inline-flex;
  border-bottom: 1px solid black;
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  font-family: verdana;
  justify-content: space-between;
}

 .logo{
    color: MediumAquamarine;
    font-size: 14px;
    font-weight: bold;
    font-family: verdana;
    display: inline-flex;
    width:200px;
}

#space {
  padding-left: 10px;
  border-bottom: none;
}

nav {
    font-size: 14px;
    font-weight: bold;
    font-family: verdana;
    display: inline-flex;
    padding-right: 30px;
    /*justify-content: space-between;*/
}

li {
  list-style: none;
  display: inline-block;
  color:black;
  justify-content: flex-end;
}

a {
  color:black;
}


/* main body */
main {
  display: flex;
  position: fixed;
  top: 100px;
  width:100%;
  border: 1px solid black;
  font-family: "Times New Roman" serif;
  overflow: scroll;
  justify-content: space-between;
}

.column {
  display:inline-inline-flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
  margin: 30px;
}

.column .large {
  flex-grow: 3;
  width: 630px;
}

.column .medium {
  flex-grow: 2;
  width: 300px;
}

.column .small {
  flex-grow: 1;
  width: 240px;
}

.box  {
  border: 1px solid black;
}

.picture {
  border: 1px solid black;
}
