

/* header  */
header {
  position:fixed;
  width:100%;
  z-index:2;
  /*display: inline-flex;*/
  border-bottom: 1px solid black;
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  font-family: verdana;
  justify-content: space-between;
  background-color: white;
}

 .logo{
    color: MediumAquamarine;
    font-size: 14px;
    font-weight: bold;
    font-family: verdana;
    display: inline-flex;
    width:200px;
}

#space {
  padding-left: 10px;
  border-bottom: none;
}

nav {
    font-size: 14px;
    font-weight: bold;
    font-family: verdana;
    display: inline-flex;
    padding-right: 30px;
    /*justify-content: space-between;*/
}

li {
  list-style: none;
  display: inline-block;
  color:black;
  justify-content: flex-end;
}

a {
  color:black;
}

/* main body */
.columns {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;

}

.columns .large {
  display:flex;
  flex-flow: row wrap;
  width: 630px;
  /*border: 1px solid black;*/
}

.columns .medium {
  display:flex;
  flex-direction: column;
  width: 300px;
  /*border: 1px solid black;*/
}

.columns .small {
  display:flex;
  flex-direction: column;
  width: 240px;
  /*border: 1px solid black;*/
 }

.orca, .burger, .fbi, .mother, .topics{
  /*border: 1px solid black;*/
}

.mother h2 {
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  color: white;
  height: 200px;
  text-align: center;
  padding-top: 60px;
}

.columns .large .splitcolumns {
  display: flex;
}

.columns .large .left, .columns .large .right{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  }

.earth h2{
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 200px;
  width: 280px;
  text-align: center;
  padding-top: 50px;
}

.research h2 {
  display:flex;
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 200px;
  width: 280px;
  text-align: center;
  padding-top: 50px;
}

.cats h2{
  display:flex;
  border: 1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  color: white;
  height: 200px;
  text-align: center;
  padding-top: 50px;
}

.columns .small h2{
  display:flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.columns .small span{
  display: flex;
  /*flex-direction: column;*/
  font-size: 12px;
    height: 40px;
  background-color: WhiteSmoke;
  font-family: Verdana, sans-serif;
  color: DimGray;
  border-bottom: 1px solid black;
  padding:10px;
}

.footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 400px;
}

 .line1{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.footer h2{
  font-family: "Georgia", serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
  border-right: 3px solid white;
  align-self: center;
}

.footer a{
  align-self: center;
}

.footer .copyrights {
    align-self: center;
  }
